@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

:root {
  --primary-color: #dfdfdf;
  --background-light: rgba(0, 0, 0, 0.5);
  --background-middle: rgba(0, 0, 0, 0.6);
  --background-dark: rgba(0, 0, 0, 0.8);
  --border-radius: 5px;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Karla, sans-serif;
  min-height: 100vh;
  background-color: var(--primary-color);
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23bdbdbd' fill-opacity='0.40'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  color: whitesmoke;
  padding: 20px;
  background: var(--background-light);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  width: 275px;
  margin: 20px auto 10px;
  user-select: none;
}

h1:hover {
  background: var(--background-dark);
}

/* Bookmarks */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background: var(--background-light);
  color: whitesmoke;
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 10px;
}

.item:hover {
  background: var(--background-middle);
}

a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

a:link,
a:visited {
  color: whitesmoke;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.fa-times {
  float: right;
  cursor: pointer;
  z-index: 2;
}

.name {
  margin: 25px;
}

.name img {
  height: 25px;
  width: 25px;
  vertical-align: sub;
  margin-right: 5px;
}

/* Modal */
.modal-container {
  background: var(--background-middle);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: var(--primary-color);
  box-shadow: 0 0 10px var(--background-dark);
  max-width: 95%;
  width: 500px;
  animation: modalopen 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close-icon {
  float: right;
  color: var(--primary-color);
  font-size: 24px;
  position: relative;
  top: 13px;
  right: 13px;
  cursor: pointer;
}

.modal-header {
  background: var(--background-dark);
  color: var(--primary-color);
  padding: 15px;
}

h3 {
  margin: 0;
}

.modal-content {
  padding: 20px;
  background: whitesmoke;
}

/* Form */
.form-group {
  height: 55px;
}

.form-input {
  width: 97%;
  padding: 5px;
  border: 2px solid;
  border-radius: var(--border-radius);
  display: block;
  outline: none;
}

.form-label {
  color: var(--background-dark);
  display: block;
}

button {
  cursor: pointer;
  color: var(--primary-color);
  background: var(--background-dark);
  height: 30px;
  width: 100px;
  border: none;
  border-radius: var(--border-radius);
  margin-top: 10px;
}

button:hover {
  background-color: #555;
}

button:focus {
  outline: none;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
